@font-face {
    font-family: rem;
    src: url(../media/REM-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rem;
    background-color: #f7f4f4;
}
a{
    text-decoration: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
    padding-left: 50px;
    border-bottom: 2px solid rgb(46, 134, 228);
}

.headerfirst {
    display: flex;
    align-items: center;
}

header p {
    text-align: start;
    color:rgb(46, 134, 228);
}

header img {
    height: 100px;
}
header nav{
    align-items: center;
}
header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(46, 134, 228);
    border-radius: 15px;
    padding: 3px 0px;
}

header li:first-child {
    border-right: 2px solid rgb(46, 134, 228);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

header li:last-child {
    border-left: 2px solid rgb(46, 134, 228);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.active:after {
    display:flex;
    content: '';
    width: 100%;
    height: 2px;
    bottom:0;
    z-index:1;
    background-color: rgb(46, 134, 228);
}

header li {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 29px;
    width: 90px;
    text-align: center;
    align-items: center;
    flex-direction:column;
}

header a {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: rgb(46, 134, 228);
}

.noactive {
    display: inline-block;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: rgb(46, 134, 228);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.6s ease-out;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

h1 {
    font-size: 2.5rem;
}

.box_title {
    margin-left: 50px;
}

.box_title p {
    font-size: 1.3rem;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 50px;
}

main h2{
    color:rgb(46, 134, 228);
}

.card img {
    width: 400px;
    height: 185px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid rgb(8, 46, 75);
}

h2 {
    margin-bottom: 50px;
    font-size: 2rem;
}

.box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.card_contain h3,
h4,
p {
    text-align: center;
}

h3 {
    color:rgb(46, 134, 228);
    font-size: 1.5rem;
    margin-top: 7px;
}

h4 {
    font-weight: 400;
    margin-bottom: 10px;
}

.card_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.card_contain p {
    margin-bottom: 10px;
    background-color: #fff;
}

.card {
    border-radius: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    transition: all 400ms ease;
    margin-bottom: 70px;
    background-color: #fff;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-3%);
}

.box_buttons {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 20px;
    height: 30px;
    width: 80px;
    border: none;
    color: white;
    background-color: rgb(46, 134, 228);
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(46, 134, 228);
    border: 2px solid rgb(46, 134, 228);
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
    padding: 20px 0px;
    border-top: 2px solid rgb(46, 134, 228);
}

footer h5{
    color:rgb(46, 134, 228);
}

.redes img {
    height: 40px;
    margin-left: 3px;
    color: rgb(46, 134, 228);
}

.redes a{
    color:rgb(46, 134, 228);
}

h5 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}






/* CONTACTO */
.contacto{
    width: 700px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 40px;
}
.contenedor-inputs{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 5%;
}
.contenedor-inputs form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entrada, textarea{
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(46, 134, 228);
    border-radius: 5px;
    width: 400px;
    color:black;
    font-size: 12px;
    margin-top: 20px;
    outline: none;
}

main .contenedor-inputs input[type="text"]:focus,
main .contenedor-inputs input[type="email"]:focus,
textarea:focus{
    
    border: 2px solid rgb(55, 167, 253);

}


textarea{
    max-height: 150px;
    min-height: 50px;
    max-width: 400px;
    height:100px
}

.boxBotones{
    margin-top:20px;
    width:200px;
    display:flex;
    justify-content:space-between
}
.boton{
    border-radius: 20px;
    height: 30px;
    width: 80px;
    border: none;
    color: white;
    background-color: rgb(46, 134, 228);
}
.boton:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(46, 134, 228);
    border: 2px solid rgb(46, 134, 228);
}


/* MEDIAS QUERIES */
@media(max-width: 1100px)
{
    h1{
        font-size: 1.5rem;
    }
}
@media(max-width: 950px)
{

    .card{
        width: 300px;
    }
    .card img{
        width: 300px;
        height: 138px;
    }
    .card h3{
        font-size: 1.2rem;
    }
    .card h4{
        font-size: 0.9rem;
    }
    .card p{
        font-size: 0.9rem;
    }
    header li{
        width: 70px;
    }
    header a{
        font-size: 0.9rem;
    }
    .box_title p{
        font-size: 1rem;
    }
    header img{
        height: 70px;
    }
    h1{
        font-size: 1.3rem;
    }
}
@media(max-width: 800px)
{
    .box{
        grid-template-columns: 1fr;
    }
    .card{
        width: 400px;
    }
    .card img{
        width: 400px;
        height: 185px;
    }
    .card h3{
        font-size: 1.5rem;
    }
    .card h4{
        font-size: 1rem;
    }
    .card p{
        font-size:  1rem;
    }
    header li{
        width: 65px;
    }
    header a{
        font-size: 0.8rem;
    }
    .box_title p{
        font-size: 0.9rem;
    }
    header img{
        height: 60px;
    }
    h1{
        font-size: 1.2rem;
    }
    .contacto{
        width: 100%;
    }
    header{
        flex-direction: column;
        padding-left: 0;
    }
    header nav{
        margin: 20px 0px;
    }
    header li{
        width: 90px;
    }
    header a{
        font-size: 1.1rem;
    }
    h1{
        font-size: 1.7rem;
    }
    header img{
        height: 80px;
    }
    .box_title p{
        font-size: 1.2rem;
    }
    h2{
        margin-bottom: 20px;
    }
}
@media(max-width: 600px)
{
    .card{
        width: 300px;
    }
    .card img{
        width: 300px;
        height: 138px;
    }
    .card h3{
        font-size: 1.2rem;
    }
    .card h4{
        font-size: 0.9rem;
    }
    .card p{
        font-size: 0.9rem;
    }
    h1{
        font-size: 1.2rem;
    }
    header img{
        height: 70px;
    }
    footer h5{
        font-size: 1rem;
    }
    .redes img{
        height: 30px;
    }
    .box_title{
        margin-left: 10px;
    }
    h2{
        font-size: 1.5rem;
    }
}
@media(max-width: 450px)
{
    h2{
        font-size: 1.2rem;
    }
    footer{
        flex-direction:column;
    }
    .redes{
        margin-top: 10px
    }
    footer h5{
        font-size:0.8rem
    }
    main{
        margin:0;
    }
    header, footer{
        margin: 10px 20px;
    }
    h1{
        font-size: 1rem;
    }
    header li{
        width: 70px;
    }
    header a{
        font-size: 0.9rem;
    }
    .entrada{
        width: 300px;
    }
    .box{
        width:100%;
    }
}